<div class="row">
  <div class="col-lg-8">
    <h2>旅行地一覧</h2>
    <% @destinations.each do |destination| %>

<div class="panel panel-warning">
      <div class="panel-heading">
        <strong><%= link_to destination.name, destination_path(destination) %></strong>
        <span class="text-muted pull-right"><%= destination.created_at.strftime('%Y/%m/%d') %></span>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            <% if destination.image? %>
              <div class="thumbnail">
                <%= image_tag destination.image.url %>
              </div>
            <% end %>

            <!-- /thumbnail -->
          </div><!-- /col-sm-1 -->
          <div class="col-sm-10">
            <p><%# make_star(restaurant.average_point) %> <%# restaurant.average_point %>  ［ 口コミ <%= destination.reviews.count %>件 ］</p>
            <div class="panel panel-default">
              <div class="panel-body">
                <% destination.reviews.each do |review| %>
                  <p><%= review.body %> by <%= review.user.family_name %> (<%= review.user.reviews.count %>)</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /panel-body -->
    </div>

<% end %>

  </div>

  <div class="col-lg-4">
  <h2 style="color:white;">見たな</h2>
    <%= render 'layouts/sidebar' %>
  </div>
</div>
