<p id="notice"><%= notice %></p>

<h1>朝活にオススメの場所</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>場所名</th>
      <th>住所</th>
      <th>最寄駅</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destinations.each do |destination| %>
      <tr>
        <td><%= destination.name %></td>
        <td><%= destination.address %></td>
        <td><%= destination.access %></td>
        <td><%= link_to '詳細', destination, class:"btn btn-default btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '場所の新規登録', new_destination_path, class:"btn btn-default btn-sm" %>
